@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 6rem;
  height: 6rem;
  border-top: 3px solid rgb(41, 57, 126);
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
